aside {
    border: 3px solid blue;
    width: 250px;
    background-color: beige;
	float: left;
	padding: 10px 10px 10px 10px;}
.menu-fav a {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #eeeeee;}
.menu-fav a:hover {
	color: violet;
    background-color: pink;}
.menu-fav h3 {
    padding: 10px 0px 10px 0px;
    color:red;}
.contact h3{
    color: black;
}

